/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
Vagrantfile
after.sh
aliases
.env
/packages
/supervisord.*
composer.lock
/.vagrant
storage/share/views
resources/views/vendor
resources/lang/vendor
public/vendor
public/laravel-u-editor
public/assets/backend
public/assets/cms
public/assets/wechat-backend
public/assets/bank
public/assets/server
public/assets/template
public/assets/company
public/uploads
/database
/github
/component/*/vendor
/component/*/tests/codeCoverage
/modules/Core/vendor